{{ partial "header.html" . }}

<div id="main-content" class="main-content">

	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<header class="archive-header">
				<h1 class="archive-title">{{ .Title }} Archive</h1>
			</header>
			<header class="entry-header">		
            {{ range .Data.Pages.GroupByDate "2006" "desc"}}
                {{ .Key }}
                <hr>
                {{ range where .Pages "Section" "post" }}
                    {{ partial "brief.html" . }}
                {{ end }}
            {{ end }}

		</div><!-- #content -->
	</div><!-- #primary -->
	{{ partial "sidebar.html" . }}
</div><!-- #main-content -->

{{ partial "footer.html" . }}