<!DOCTYPE html>

<html lang="{{ with .Site.LanguageCode}}{{ . }}{{ else }}en-US{{end}}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ if .IsPage }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
	<link rel="profile" href="http://gmpg.org/xfn/11">
	{{ "<!--[if lt IE 9]>" | safeHTML }}
	<script src="{{ .Site.BaseURL }}/js/html5.js"></script>
	{{ "<![endif]-->" | safeHTML }}
    
    <link href="{{ .Site.BaseURL }}/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    <link rel='stylesheet' id='twentyfourteen-lato-css'  href='//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900%2C300italic%2C400italic%2C700italic&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />

    <link rel='stylesheet' id='genericons-css' href='{{ .Site.BaseURL }}/genericons/genericons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='twentyfourteen-style-css' href='{{ .Site.BaseURL }}/css/style.css' type='text/css' media='all' />
	<!--[if lt IE 9]>
	<link rel='stylesheet' id='twentyfourteen-ie-css'  href='/css/ie.css' type='text/css' media='all' />
	<![endif]-->
	<script type='text/javascript' src='{{ .Site.BaseURL }}/js/jquery/jquery.js'></script>
	<script type='text/javascript' src='{{ .Site.BaseURL }}/js/jquery/jquery-migrate.min.js'></script>
	
	<link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/github.min.css">
	<script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
</head>

<body class="home blog masthead-fixed list-view full-width grid">
<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
		<div class="header-main">
			<h1 class="site-title"><a href="{{ .Site.BaseURL }}" rel="home">{{ .Site.Title }}</a></h1>

			<div class="search-toggle">
				<a href="#search-container" class="screen-reader-text">Search</a>
			</div>

			<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
				<button class="menu-toggle">Primary Menu</button>
				<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
				<div class="nav-menu">
					<ul>
						<li class="page_item"> 
							<a href="{{ .Site.BaseURL }}"> Home </a>
						</li>
						
						{{ if .Site.Params.CVURL }}
						<li class="page_item">
							<a href="{{ .Site.Params.CVURL }}"> CV </a>
						</li>
						{{ end }}
						
						{{ if .Site.Params.GitHubUser }}
						<li class="page_item">
							<a href="//github.com/{{ .Site.Params.GitHubUser }}"> GitHub </a>
						</li>
						{{ end }}

						{{ range .Site.Menus.main }}
						<li class="page_item"> 
							<a href="{{ .URL }}">{{ .Name }}</a>
						</li>
						{{ end }}
					</ul>
				</div>
			</nav>
		</div>
		<div id="search-container" class="search-box-wrapper hide">
			<div class="search-box">
                {{ partial "searchform.html" . }}
			</div>
		</div>
	</header><!-- #masthead -->

	<div id="main" class="site-main">
